* {
    box-sizing: border-box;
}

.fflex-container {
display: flex;
justify-content: center;
}
.container {
    padding: 30px;
    border: 1px dotted black;
}
.parent {
    padding: 20px;
    border: 1px dotted black;
    position: relative;
}

.item {
    width: 100px;
    height: 100px;
    background-color: burlywood;
     padding: 10px;
    border: 5px solid red;
    margin: 10px; 
/* padding: 16px 42px 13px 42px */
   
}
.item1.red {
    /* position: relative;
    top: 40px;
    left: 50px; */
    width: 150px;
    height: 150px;
    background-color: red;
    /* position: absolute;
    z-index: 3; */
    color: white;
    /* overflow: hidden; */
    overflow: auto;
    /* overflow: scroll; */
}
.item1.green {
    /* position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0; */
    width: 100px;
    height: 100px;
    background-color: green;
}
.item1.blue {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: blue;
    top: 0;
    left: 0;
}
/* .item1.blue {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: blue;
    top: 0;
    left: 0;
} */

/* .item:nth-child(2) {
    flex-grow: 1;
} */
/* .item:nth-child(2) {
    flex-shrink: 0;
} */
 
/* .item:nth-child(2) {
   align-self: center; 
} */

.item:nth-child(2) {
    order: 4;
}

/* }
.box:last-child {
    background-color: gold;
}
.box:first-child {
    background-color: rgb(92, 90, 83);
}
.box:nth-child(3) {
    background-color: rgb(92, 90, 83);
} */
/* .box:not(:first-child) {
    background-color: rgb(92, 90, 83);
} */
/* .box:nth-child(odd) {
    background-color: rgb(92, 90, 83);
}
.box:nth-child(even) {
    background-color: rgb(225, 198, 99);
}
.box:nth-child(n + 3) {
    background-color: rgb(225, 198, 99);
} */

.section-title {
    background-color: orange;
    position: sticky;
    top: 0;
}
.item2.red1 {
    width: 150px;
    height: 150px;
    background-color: red;
    transform: translate(10px, 50px);
    /* transform: translateY(-20px); */
    /* transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear; */
    /* transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68); */
    opacity: 1;
    transition: background-color 1s, color 1s, transform 1s;
}
.item2.red1:hover {
    opacity: 0;
    transform: translateX(0);
    background-color: pink;
    /* transition-duration: 2s; */
    color: black;
}
.item2.green1 {
    width: 100px;
    height: 100px;
    background-color: green;
    /* transform: rotate(90deg); */
    animation-name: spin;
    animation-duration: 1s;
    /* animation-name: 5s; */
    /* animation-iteration-count: 5; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation: spin 1s infinite linear; */
}

@keyframes spin{
    0% {
        transform: rotate(0);
        background-color: green;
    }
    50% {
        transform: rotate(10deg);
        background-color: red;
    }
    100% {
    transform: rotate(360deg);
}
}
.item2.blue1 {
    width: 150px;
    height: 100px;
    background-color: blue;
    transform: scale(0.5);
}
.item2.orange1 {
    width: 150px;
    height: 150px;
    background-color: orange;
    transform: skew(20deg,20deg);
}
.parent2 {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border: 1px dotted black;
}
.item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.form-field {
    position: relative;
    margin-bottom: 32px;
}
.form-label {
    position: absolute;
    left: 42px;
}


.checkbox {
    position: relative;
}
.checkbox-input {
    appearance: none;
}
.checkbox-input:checked + .checkbox-label::before {
    background-color: green;
}
.checkbox-label {
    padding-left: 24px;
}
.checkbox-label::before {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    content: '';
    border: 1px solid var(--color-primary-dark);
}