.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    gap: 40px;
}
.traditions-content {
    max-width: 710px;
}
.traditions-section {
    padding-top: 96px;
}
.traditions-title {
   margin-bottom: 42px; 
}
.traditions-text .limited {
    max-width: 340px;
}